#heading {
    color: darkcyan;
    text-decoration: underline;
}

button:hover {
    opacity: 0.5;
}

button {
    background-color: darkolivegreen;
    color: deeppink;
}

body {
    background-color: darkgoldenrod;



}